@import "_base.scss";

@import "./pages/index.scss";
@import "./pages/creaciones.scss";
@import "./pages/historia.scss";
@import "./pages/contacto.scss";

@import "./components/header.scss";
@import "./components/footer.scss";



@media only screen and (max-width: 450px) {
    iframe {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
 /* Index */
    h1 {
        font-size: 2rem;
    }

    .parrafo1 {
        margin-top: 0px;
    }

    .margen-parrafo1 {
        margin: 0;
        margin-bottom: 48px;
    }

    .articulos {
        padding: 16px;
        display: block;
    }

    .textos {
        text-align: none;
    }

    .img-responsive {
        display: none;
    }

    .parrafo {
        margin: 0px;
        margin-top: 0px;
    }

    footer {
        flex-direction: column;
        height: 675px;
    }
/* fin del index */
/* creaciones */

    .creaciones-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .creaciones-wrap p {
        margin: 0;
    }

    .creaciones-wrap1 {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .margen-parrafo {
        margin: 0;
    }

    /* historia */

    .images{
        width: 200px;
    }

    .img-float {
        float: none;
    }

    .img-float {
        float: none;
    }

    /* fin de historia */

    /* contacto */


    iframe {
        width: 300px;
        margin-top: 32px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
/* index */
    .navegacion-elementos {
        gap: 16px;
    }

    .articulos{
        flex-wrap: wrap;
    }

    .articulos1 {
        flex-wrap: wrap-reverse;
    }

    .img-responsive1 {
        display: none;
    }

    .parrafo1 {
        margin: 16px 0;
    }

    .parrafo{
        margin: 16px 0;
    }

    h3 {
        font-size: 1.25rem;
    }

    .section-footer {
        padding-inline: 32px;
    }
/* fin del index */
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
/* index */
    .navegacion-elementos {
        gap: 8px;
    }

    .parrafo1 {
        margin: 0;
    }

    .parrafo {
        margin: 0;
    }

    .img-responsive1 {
        display: none;
    }
/* fin del index */
/*  creaciones*/


}