main section {
  margin-top: 64px;

    article {
      border-radius: 16px;
      margin: 0 32px;
      margin-bottom: 64px;
      padding: 48px;
      transition: all ease-in-out 0.3s;

      &:hover {
        scale: 1.02;
      }
    }
}

.articulos {
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 16px;

  h2 {
    font-family: $font-family;
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    font-family: $font-family;
    font-size: 1.5rem;
  }
}

.img-container {
  justify-content: space-between;
  margin-top: 48px;
}

.textos h2 {
  text-align: center;
}

.parrafo {
  margin-top: 48px;

  p {
    margin-right: 0;
  }
}

.parrafo1 {
  margin-top: 48px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
    }
 
  .parrafo1 {
    margin-top: 0px;
  }
 
  .margen-parrafo1 {
    margin: 0;
    margin-bottom: 48px;
  }
 
  .articulos {
    padding: 16px;
    display: block;
  }
 
  .textos {
    text-align: none;
  }
 
  .img-responsive {
    display: none;
  }
 
  .parrafo {
    margin: 0px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

  .navegacion-elementos {
    gap: 16px;
  }
  
  .articulos{
    flex-wrap: wrap;
  }
  
  .articulos1 {
    flex-wrap: wrap-reverse;
  }
  
  .img-responsive1 {
    display: none;
  }
  
  .parrafo1 {
    margin: 16px 0;
  }
  
  .parrafo{
    margin: 16px 0;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  }
  
  @media only screen and (min-width: 993px) and (max-width: 1200px) {

  .navegacion-elementos {
    gap: 8px;
  }
  
  .parrafo1 {
    margin: 0;
  }
  
  .parrafo {
    margin: 0;
  }
  
  .img-responsive1 {
    display: none;
  }
}