footer {
  background-color: #80bc77;
  height: 250px;
  color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.section-footer {
  padding-inline: 48px;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.section-footer ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

.section-footer ul li a {
  color: white;
}

.section-footer ul li a:hover {
  color: #7f7f7f;
}


@media only screen and (max-width: 768px){

  footer {
    flex-direction: column;
    height: 675px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

  .section-footer {
    padding-inline: 32px;
  }
}