* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffd6a7;
}

li {
  list-style: none;
}

.images {
  width: 300px;
  border-radius: 16px;
}

main section {
  margin-top: 64px;
}
main section article {
  border-radius: 16px;
  margin: 0 32px;
  margin-bottom: 64px;
  padding: 48px;
  transition: all ease-in-out 0.3s;
}
main section article:hover {
  scale: 1.02;
}

.articulos {
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 16px;
}
.articulos h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
.articulos p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.img-container {
  justify-content: space-between;
  margin-top: 48px;
}

.textos h2 {
  text-align: center;
}

.parrafo {
  margin-top: 48px;
}
.parrafo p {
  margin-right: 0;
}

.parrafo1 {
  margin-top: 48px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .parrafo1 {
    margin-top: 0px;
  }
  .margen-parrafo1 {
    margin: 0;
    margin-bottom: 48px;
  }
  .articulos {
    padding: 16px;
    display: block;
  }
  .textos {
    text-align: none;
  }
  .img-responsive {
    display: none;
  }
  .parrafo {
    margin: 0px;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .navegacion-elementos {
    gap: 16px;
  }
  .articulos {
    flex-wrap: wrap;
  }
  .articulos1 {
    flex-wrap: wrap-reverse;
  }
  .img-responsive1 {
    display: none;
  }
  .parrafo1 {
    margin: 16px 0;
  }
  .parrafo {
    margin: 16px 0;
  }
  h3 {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .navegacion-elementos {
    gap: 8px;
  }
  .parrafo1 {
    margin: 0;
  }
  .parrafo {
    margin: 0;
  }
  .img-responsive1 {
    display: none;
  }
}
.articulos-creaciones {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
}
.articulos-creaciones h2 {
  grid-column: 1/3;
  text-align: center;
}
.articulos-creaciones div {
  display: flex;
  align-items: center;
}

.margen-parrafo {
  margin-left: 48px;
  margin-bottom: 0px;
}

.margen-parrafo1 {
  margin-right: 48px;
  margin-bottom: 0px;
}

.creaciones-wrap {
  display: flex;
}

.creaciones-wrap1 {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .creaciones-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .creaciones-wrap p {
    margin: 0;
  }
  .creaciones-wrap1 {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .margen-parrafo {
    margin: 0;
  }
  .image {
    display: flex;
    justify-content: center;
  }
}
.img-float {
  float: left;
  margin-right: 16px;
}

.img-float1 {
  float: right;
  margin-left: 16px;
}

@media only screen and (max-width: 768px) {
  .images {
    width: 200px;
  }
  .img-float {
    float: none;
  }
  .img-float {
    float: none;
  }
}
input {
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 2px #80bc77 solid;
  border-radius: 5px;
}
input:hover {
  background-color: #bab9b9;
}
input:focus {
  outline: none;
}

textarea {
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 2px #80bc77 solid;
  border-radius: 5px;
  min-height: 257px;
  max-height: 257px;
}
textarea:hover {
  background-color: #bab9b9;
}
textarea:focus {
  outline: none;
}

.boton {
  background-color: #80bc77;
  border: none;
}
.boton:hover {
  background-color: #608e59;
  color: white;
}

iframe {
  border-radius: 16px;
}

@media only screen and (max-width: 450px) {
  iframe {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  iframe {
    width: 300px;
    margin-top: 32px;
  }
}
header {
  background-color: #fcf4ec;
  height: 125px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.navbar {
  padding-top: 32px;
  padding-bottom: 0;
  margin: 0 32px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  user-select: none;
  color: rgb(0, 0, 0);
}

.navegacion-elementos {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  gap: 24px;
}

.background-nav {
  background-color: #fcf4ec;
}

.nav-link {
  color: rgb(0, 0, 0);
}
.nav-link:hover {
  color: rgb(122, 122, 122);
}

.selected {
  font-weight: 700;
}

footer {
  background-color: #80bc77;
  height: 250px;
  color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.section-footer {
  padding-inline: 48px;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.section-footer ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

.section-footer ul li a {
  color: white;
}

.section-footer ul li a:hover {
  color: #7f7f7f;
}

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    height: 675px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .section-footer {
    padding-inline: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
